// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.button-menu{
    border: 1px solid #0a58ca;
    min-height: 150px;
    text-align: center;
    h1{
        text-align: center;
    }
    a{
        padding: 5px 6px;
        margin: 5px;
        text-align: center;
    }
    button{
        margin: 10px;
    }
}
